<nav class="navbar navbar-expand-md bg-body-tertiary border-body fixed-top text-center">
    <div class="container-md" id="navContainer">
        <div>
            <a class="navbar-brand d-flex align-items-center gap-2 rotateOnHover" href="/">
                <img height="64px" width="auto" src="${SHTTR_ASSETS}/images/torpoise.png" class="logoImage">
                Griffin Ryan
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/cgi-bin/portfolio.sh">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cgi-bin/resume.sh">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/griffinryan/" target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</nav>